    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
          
            <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col"><h3>Easy &amp; Note</h3></div>
    <div class="mdl-layout-spacer"></div>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" >
            <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                <h4>Enter the Code.</h4>


               <form ng-submit="$ctrl.submit()" name="formCreate">

				  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="codigo" ng-model="$ctrl.code" required>
					<label class="mdl-textfield__label" for="codigo" >Code...</label>
				  </div>
				  <br>
				  <button class="mdl-button mdl-js-button mdl-button--raised" type="submit">
					  Check
				  </button>
                  </form>
              </div>
            </div>
          </section>
		  
         <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" ng-show="$ctrl.showNotes">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                
              <div class="mdl-card__actions">
                  
                        <form ng-submit="$ctrl.submit()" name="formCreate">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="title" ng-model="$ctrl.title">
					<label class="mdl-textfield__label" for="title" >Title</label>
				  </div>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label padding12">
					<input class="mdl-textfield__input" type="text" id="text" ng-model="$ctrl.text" >
					<label class="mdl-textfield__label" for="text" >Text</label>
				  </div>
                  <br>
                 <button type="submit" class="mdl-button mdl-js-button mdl-button--raised">
                    Add
                </button>
                 </form>
              </div>
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col">Notes</h4>
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone" ng-repeat="note in $ctrl.notes">
                  <h5>{{note.title}}</h5>
                  {{note.text}}
                </div>
              </div>
            </div>
          </section> 
        </div>
      </main>
        </div>
        </div>
        