
		
		        <div class="mdl-grid site-max-width">
                    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp page-content">
                        <div class="mdl-card__title">
                            <h1 class="mdl-card__title-text">Room</h1>
                        </div>
                        <div class="mdl-card__media">
                            <img class="article-image" src="assets/img/contact.jpg" border="0" alt="Contact">
                        </div>
                        <div class="mdl-grid site-copy">
                            <div class="mdl-cell mdl-cell--12-col">
                                <div class="mdl-card__supporting-text">
                                    <p>Create a new or use an older one:</p>
                                    <form ng-submit="$ctrl.submit()" name="formCreate" class="form-contact">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" pattern="[0-9A-Z,a-z]*" type="text" id="code" name="code" ng-model="$ctrl.code" required>
                                            <label class="mdl-textfield__label" for="code">Code...</label>
                                        </div>
                                        <p>
                                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
                                                Check
                                            </button>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>