    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">

        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">  
         <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" >
               
            <div class="mdl-card mdl-cell mdl-cell--12-col">

            <div>
                <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing ">
                    <a ng-link="['Index']"><i class="material-icons">arrow_back</i></a>
                </div>
            </div>

              <div class="mdl-card__actions">
               <form ng-submit="$ctrl.submit()" name="formCreate">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="title" ng-model="$ctrl.title" >
					<label class="mdl-textfield__label" for="title" >Title</label>
				  </div>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label padding12">
					<input class="mdl-textfield__input" type="text" id="text" ng-model="$ctrl.text" required>
					<label class="mdl-textfield__label" for="text" >Text</label>
				  </div>
                  <br>
                 <button type="submit" class="mdl-button mdl-js-button mdl-button--raised">
                    Add
                </button>
                 </form>
              </div>
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col">Notes</h4>
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone" ng-repeat="note in $ctrl.notes">
                  <h5>{{note.title}}</h5>
                  {{note.text}}
                </div>
              </div>
            </div>
          </section> 
        </div>
      </main>
    </div>
</div>