      <header class="demo-drawer-header">
        <img src="pencil-2160915_640.png" class="img-header-back">

        <div class="sidebar-profile">
          <div class="sidebar-profile-image">
            <div class="avatar-block">
              <img src="{{$ctrl.userInfo.photoURL}}" class="demo-avatard img-circle img-responsive">
            </div>
          </div>
          <div class="sidebar-profile-details">
            <span>
               Jeison Adarme
               <br>
               <small>
                 Web developer
               </small>
             </span>
          </div>
        </div>
      </header>